<footer class="site_footer">
	<div class="site_footer-container container">

	</div>
	<div class="copyright">
		Copyright ©2022 AKAI Production House Co., Ltd. All Rights Reserved.
		<br>
		Design by Fate Eternal Co., Ltd.
	</div>
</footer>