{% set title = "" %}
{% set page_class = "page-" %}
{% extends "_layout.njk" %}


{% block content %}
<!-- =========================================================================-->
<!-- 頁面內容  START-->
<!-- =========================================================================-->
<div class="page_main page_main-has_aside {{page_class}}">
	<section class="page_section container">
		<aside class="page_main-aside {{page_class}}-aside">
			<div class="page_main-aside-inner">

			</div>
		</aside>
		<main class="page_main-content {{page_class}}-main">
			<section class="content_section ">
				<div class="content_section-inner">

				</div>
			</section>
		</main>
	</section>
</div>
<!-- /.page_main END  !! -->
<!-- =========================================================================-->
<!-- 頁面內容  END  !!-->
<!-- =========================================================================-->

{% endblock %}

{% block page_script %}
{# <script src="public/js/page/home.js?v={{ VERSION }}"></script> #}
<script>
$(function() {

});
</script>
{% endblock %}