<div class="page_section-inner">
    <div class="page_section-content">
        <div class="home-header--wrapper">
            <h1 class="home-header--title">There is no one<br>who loves pain</h1>
            <h2 class="home-header--subtitle">FORM</h2>
            <div class="home-header--block">
                <div class="block-row">
                    <h2 class="title">paragraph</h2>
                    <div class="cnt">
                        <ul class="list">
                            <li class="item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                    </div>
                </div>
                <div class="block-row">
                    <h2 class="title">paragraph</h2>
                    <div class="cnt">
                        <ul class="list"> 
                            <li class="item">Quisque sodales leo <b class="td-u">vitae vulputate auctor.</b> </li>
                            <li class="item">Proin ac justo ut nisl tincidunt imperdiet.Maecenas viverra libero a pellentesque blandit.</li>
                            <li class="item">Cras tristique tellus id leo bibendum, eu dapibus nisl accumsan.</li>
                            <li class="item">Donec ultrices sapien <b>vitae leo venenatis ullamcorper.</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page_section-inner -->
<div class="wave"></div>