.banner-bg {
    // position: relative;
    @include absolute(0, $L:0);
    width: 100%;
    height: 100%;

    &::after {
        @include psudoClass;
        @include absolute(0, $L:0);
        @include wh;
        background: radial-gradient(rgba(#000, 0), rgba(#000, 1) 80%);
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    opacity: 0;
    
    &.js-active {
        animation: zoomUp 5s infinite;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
}

.banner {
    background-color: #000;
    &::after {
        @include psudoClass;
        @include absolute($B:0, $L:0);
        z-index: 10;

        @include rwdBlock(1920, 250);
        background-image: url(../images/banner-pattern.png);
    }
    .page_section-inner {
        @include absolute(0, $L:0);
        @include wh;

        display: flex;
        align-items: center;

        @include media-down(md) {
            align-items: flex-end;
        }
    }
}

.banner-content {
    position: relative;
    width: fit-content;

    transform: translateY(-10%);
    @include media-down(md) {
        transform: translateY(-20%);
	}
    .main_title {
        position: relative;
        margin-bottom: 2rem;
        @include txt-("H");
        // line-height: 1.2;


        .big {
            // @include rwdFontSize(5rem);
            @extend .txt-H1;
        }
        .txt {
            position: relative;
            width: fit-content;
            // @include rwdFontSize(3rem);
            // line-height: 1;
            @extend .txt-H2;

            &::before {
                @include psudoClass;
                @include absolute($B:0, $R:-100%);
                transform: translateY(-8px);
                @include wh(100%, 1);
                background-color: color("Main");
            }

            &::after {
                @include psudoClass;
                @include absolute($B:-5px, $R:-100%);
                transform: translateY(-8px);
                @include circle(5px * 2);
                background-color: color("Main");
            }
        }

    }

    .slogan {
        @include txt-("M");
        @extend .txt-H4;
        @include media-down(sm) {
            font-size: 1rem;
        }
    }

    .subslogan {
        @include txt-("M");
        @extend .txt-H4;
        @include media-down(sm) {
            font-size: 1rem;
        }
    }
}

.top_video {
    position: relative;
    z-index: 103;

    @include media-down(md) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.top_video-inner {
    @include absolute($B:1rem, $L:50%);
    transform: translateX(-50%);
    z-index: 11;
    // display: grid;
    // grid-template-columns: repeat(3, minmax(300px, 1fr));
    // gap: 5rem;
    // width: 80%;
    // height: 150px;
    height: auto;
    margin: auto;

    bottom: 0;
    width: 100%;
    height: 200px;
    // background-color: rgba(color("Main"), 0.1);
    // padding: 1rem;

    @include media-down(xxl) {
        // gap: 3rem;
    }

    @include media-down(xl) {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }

    @include media-down(md) {
        position: relative;
        bottom: unset;
        left: unset;
        transform: translateX(0%);
        height: auto;
        // grid-template-columns: repceat(1, 1fr);
        // width: 60%;
    }
}

.top_video-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
    height: 100%;

    @extend .container;

    @include media-down(md) {

        flex-direction: column;
        gap: 1.5rem;
    }
}

.top_video-item {
    // width: 350px;
    flex: 0 1 300px;
    // height: 100%;
    // padding-left: 2rem;
    // padding-right: 2rem;

    // @include media-down($breakpoint-desktop-mobile) {
    //     padding-left: 1rem;
    //     padding-right: 1rem;
    // }

    @include media-down(md) {
        flex: 1 1 auto;
        width: 100%;
        max-width: 350px;
    }

    &-link {
        position: relative;
        display: block;
        // @include wh;
        @include rwdBlock(16, 9);
        box-shadow: 10px 10px 10px rgba(color("Main"), 0.1);

        @include media-down(md) {
            // @include rwdBlock(16, 9);
        }

        &:hover {
            box-shadow: 10px 30px 30px rgba(color("Main"), 0.1);

            img {
                transform: scale(1.05);
            }
        }
    }

    img {
        @include absolute(0, $L:0);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: $transition-base;
    }


}