.service--wrapper {
    max-width: 1200px;
    margin: auto;
}

.service--hd {

    margin-bottom: 100px;
}
.service-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
        @include psudoClass;
        z-index: 1;
        @include absolute($B:0, $L:0);
        @include wh(100%, 1);
        background-color: color("Main");
        transform: translateY(-10px);
    }

    .big {
        position: relative;
        z-index: 2;
        @extend %section-title;
        // opacity: 0.3;
        // @include stroke(20, #fff);
        padding: 0 0.5rem;
        background-color: #000;
    }

    .txt {
        @include absolute(100%, $L:50%);
        transform: translate(-50%, 0.8rem);
        z-index: 3;
        @extend %section-subtitle;
    }
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(190px, 1fr));
    gap: 5rem 5%;

    @include media-down($breakpoint-desktop-mobile) {
        grid-template-columns: repeat(2, minmax(190px, 1fr));
    }

    @include media-down(sm) {
        grid-template-columns: repeat(1, minmax(190px, 1fr));
    }
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    justify-self: center;

    @include media-down(sm) {
        width: fit-content;
    }

    .icon {
        @include wh(120);
        margin-bottom: 1rem;
    }

    .svgicon {
        @include wh;
    }

    .title {
        width: 100%;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid color("Main");
        // @include txt-("L");
        @extend .txt-H4;
        text-align: center;
    }

    .txt {
        padding-top: 1.2rem;
        @extend .txt-Body;
        text-align: center;
        color: darken(#fff, 15);
    }
}