
.aboutus--hd {
    margin-bottom: 80px;
}

.aboutus-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .big {
        display: flex;
        gap: 2rem;
        // flex-direction: column;
        @extend %section-title;
        text-align: center;

        margin-bottom: 0.8rem;

        &::before, &::after {
            @include psudoClass;
            @include wh(6, 50px);
            background-color: color("Main");

            @include media-down($breakpoint-desktop-mobile) {
                height: 40px;
            }
            @include media-down(md) {
                height: 40px;
            }
            @include media-down(sm) {
                display: none;
            }
        }
    }

    .txt {
        @extend %section-subtitle;

    }
}

.aboutus-row {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;

    @include media-down(xl) {
        flex-direction: column;
    }

    &:not(:first-of-type) {
        padding-top: 104px * 2;
    }

    &:nth-of-type(even) {
        justify-content: flex-start;

        .container {
            display: flex;
            justify-content: flex-end;
        }

        .aboutus-row--content-inner {
            // align-self: flex-end;
            padding-right: 0;
            padding-left: 3rem;

            @include media-down(xl) {
                padding-left: 0;
            }
        }
    }
    &--content {
        position: absolute;
        width: 100%;

        &-inner {
            width: 50%;
            padding-right: 3rem;
        }
        @include media-down(xl) {
            position: relative;

            &-inner {
                width: 100%;
                padding-right: 0;
            }
        }
    }
    &--pic {
        // @include absolute(50%, 0);
        // transform: translateY(-50%);
        width: 50%;

        @include media-down(xl) {
            width: 80%;
        }

        .img_elm {
            @include rwdBlock(16, 9);
        }

        img {
            object-fit: cover;
        }
    }
}


.aboutus-feature-list {
    // width: 50%;
}

.aboutus-feature-item {
    position: relative;

    &::before {
        @include psudoClass;
        @include absolute($B: -15px, $L:-20%);
        @include wh(620, 44);
        background-image: url(../images/txt-bg.png);
        background-size: cover;
        background-position: right center;

        @include media-down(md) {
            left: unset;
            right: 0;
        }
    }
    &:not(:first-of-type) {
        margin-top: 2rem;

        @include media-down(xl) {
            // margin-top: 2rem;
        }
    }
    .txt-type-strock {
        margin-bottom: 0.8rem;
        @extend .txt-H3;
        // @include media-down(sm) {
        //     font-size: 1.2rem;
        // }
        // @include media-down(md) {
        //     font-size: 1rem;
        // }
    }
    .txt {
        position: relative;
        width: fit-content;
        @extend .txt-H3;
        // @include media-down(sm) {
        //     font-size: 1rem;
        // }
        // @include media-down(md) {
        //     font-size: 1rem;
        // }
    }
}

.aboutus-intro {
    &-title {
        margin-bottom: 1.2rem;
        @include txt-("M");
        // @include rwdFontSize(2rem);
        @extend .txt-H3;
        // @include media-down(sm) {
        //     font-size: 1.4rem;
        // }
    }
    &-txt {

        text-align: justify;
        font-family: $NotoSansTC;
        // margin-bottom: 0;
        // @include rwdFontSize(1.4rem);
        // @extend .txt-H3;
        // @include media-down(sm) {
        //     font-size: 1rem;
        // }

        // @include media-down(md) {
        //     font-size: 1rem;
        // }
    }
}