.process-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;

    .big {
        position: relative;
        display: flex;
        gap: 2rem;
        padding-bottom: 0.5rem;
        // flex-direction: column;
        @extend %section-title;
        &::before {
            @include psudoClass;
            @include absolute($B:0);
            @include wh(100%, 1);
            background-color: color("Main");
        }

        &::after {
            @include psudoClass;
            @include absolute($B:-8px, $R:-8px);
            @include circle(16);
            background-color: color("Main");
        }
    }

    .txt {
        @extend %section-subtitle;

    }
}


.process-list {
    counter-reset: process-counter;
}

.process-item {
    counter-increment: process-counter;

    &--cnt {
        &::before {
            content: counter(process-counter);
        }
    }
}

.process-list {
    max-width: 800px;
    margin: auto;
}
.process-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;

    padding-top: 7rem;
    padding-bottom: 7rem;

    &:not(:first-of-type) {
        // border-top: 1px solid color("Main");
    }


    @include media-down($breakpoint-desktop-mobile) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }


    @include media-down(md) {
        flex-direction: column;

        padding-top: 3rem;
        padding-bottom: 3rem;

    }

    @include media-down(sm) {
        padding-left: 1rem;
        padding-right: 1rem;
    }


    &:nth-of-type(even) {
        .process-item--icon {
            order: 1;

            @include media-down(md) {
                order: 2;
            }
        }
        .process-item--cnt {
            order: 2;

            text-align: right;

            &::before {
                left: unset;
                right: -30%;
            }

            @include media-down($breakpoint-desktop-mobile) {
                &::before {
                    right: -15%;
                }
            }

            @include media-down(md) {
                order: 1;
                text-align: left;

                &::before {
                    right: unset;
                    left: 0;
                }
            }
        }
    }

    &--icon {
        flex: 0 0 auto;
        width: 50%;
        max-width: 500px;
        order: 2;
        // flex: 1 1 auto;
        // width: 80%;
        // height: 400px;

        .icon {
            position: relative;

            .svgicon {
                @include absolute(50%, $L:50%);
                transform: translate(-50%, -50%);
            }
        }

        .svgicon {
            width: 100%;
            height: 100%;
        }

        &.icon-1 {
            // width: 755px;

            .icon {
                @include rwdBlock(755, 395);
            }
        }
        &.icon-2 {
            // width: 844px;
            .icon {
                @include rwdBlock(844, 540);
            }
        }
        &.icon-3 {
            // width: 696px;
            .icon {
                @include rwdBlock(696, 449);
            }
        }
        &.icon-4 {
            // width: 870px;
            .icon {
                @include rwdBlock(870, 597);
            }
        }
        &.icon-5 {
            // width: 799px;
            .icon {
                @include rwdBlock(799, 434);
            }
        }
    }
    &--cnt {
        position: relative;
        order: 1;
        width: 50%;

        @include media-down(md) {
            padding-left: 80px;
            align-self: flex-start;
            width: 80%;
            margin: auto;

            // display: flex;
        }

        @include media-down(sm) {
            width: 100%;
            // padding-left: 60px;
        }
        &::before {
            @include absolute(-80%, $L:-30%);
            z-index: 1;
            @include txt-("B");
            @include rwdFontSize(10rem);
            @include stroke(2, #808080);
            color: #000;

            @include media-down($breakpoint-desktop-mobile) {
                top: -50%;
                left: -15%;
            }

            @include media-down(md) {
                // top: -10%;
                // left: -50%;
                // position: relative;
                // top: unset;
                // left: unset;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: unset;
            }
        }
    }

    &-title {
        position: relative;
        z-index: 2;
        @include txt-("M");
        // @include rwdFontSize(2rem);
        @extend .txt-H3;
        // @include media-down(sm) {
        //     font-size: 1.4rem;
        // }
    }

    &-txt {
        position: relative;
        z-index: 2;
        // @include txt-("B");
        // @include rwdFontSize(1.4rem);
        // @include media-down(md) {
        //     font-size: 1rem;
        // }
        font-family: $NotoSansTC;
        @extend .txt-Body;
        // @include media-down(sm) {
        //     font-size: 1rem;
        // }
    }
}