.#{$PROJECT_NAME}_btn {
    position: relative;
    z-index: 1;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 57px;
    border-radius: 57px;
    border: none;
    // background-color: rgba(color('primary-2'), 1);

    padding: 16px 20px;

    box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35), 0px -4px 10px rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out,
        color 0.3s ease-in-out,
        border 0.3s ease-in-out,
        text-shadow 0.3s ease-in-out;

    color: #fff;
    @include txt-("H5");

    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 57px;
        background: color("primary-2");

    }

    &::after {
        content: "";
        position: absolute;
        left: -2px;
        top: -2px;
        z-index: -2;
        background: linear-gradient(124deg,#efdbc8, #e9c87f, #b2e1ea, #90cae5, #f5caf4, #dfc9f9 );
        background-size: auto;
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 57px;

        filter: blur(5px);
        opacity: 0;

        transition: all 0.3s ease-in-out;
        animation: move 20s linear infinite;
    }

    // &-s {
    //     height: 30px;
    //     padding: 0.3rem 0.6rem;
    // }


    &:hover {
        &::after {
            opacity: 1;
        }
    }


    .icon {
        @include wh(16);
        path {
            fill: currentColor;
        }
        +.txt {
            margin-left: 0.5rem;
        }
    }

    .txt {
        // @include txt-('Btn');
        +.icon {}

        &.txt {
            margin-bottom: 0; // Elevate permissions
        }
    }



    &:active {
        transform: translate(1px, 1px);
        box-shadow: $boxShadowActive1;
    }

}

