.page_main {
	position: relative;
	z-index: 1;
	// padding-bottom: 104px;

	// background-color: color('primary');

	// display: grid;
	// grid-template-columns: ($aside_w * 1px) calc(100% - 270px);

	// min-height: 100vh;
	// background-color: transparent;
	// transition: filter 0.3s ease-in-out;
	// will-change: filter;

	&::after {
		@include psudoClass;
		@include absolute(0, $L:0);
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.5);
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	.js-open-mobile-menu & {
		// filter: blur(3px);
		// backdrop-filter: blur(20px);

		&::after {
			z-index: 101;
			opacity: 1;
		}
	}

}