.site_header {
	position: fixed;
	top: 0;
	z-index: 350;
	width: 100%;
	height: $header_h * 1px;
	// box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1);

	transition: $transition-base;
	will-change: height;
	.js-scrolling & {
		background-color: rgba(#000, 0.8);
	}
	@include media-breakpoint-up(lg) {
		.js-scrolling & {
			height: 70px;
		}
	}

	@include media-down($breakpoint-desktop-mobile) {
		height: $header_h-breakpoint-desktop-mobile * 1px;
	}


	&-container {
		position: relative;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}